.venv
__pycache__
.pytest_cache


Thumbs.db
.DS_Store

keystore_priv.bin
keystore_pub.bin
device_id.txt

.zed
.vscode
local.properties
.gradle
build
android_app/build
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle.kts
